In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Task 1.csv',encoding = 'unicode_escape')

In [3]:
df

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.15,3.15
2,NaN,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,6.22,9.37
3,NaN,05/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.51,14.88
4,NaN,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.83,18.71
...,...,...,...,...,...,...,...,...,...
6732,NaN,31/12/2021,Cheque,1569,NaN,ACRAGLAS - GEL 4oz KIT,Commercial card,60.8,"13,214.86"
6733,NaN,31/12/2021,Cheque,1586,NaN,boracic acid,Commercial card,4.16,"13,219.02"
6734,NaN,31/12/2021,Cheque,1623,NaN,Stainless Steel Repair Washers,Commercial card,21.55,"13,240.57"
6735,NaN,31/12/2021,Cheque,1558,NaN,1Lx2 Mannol Compressor Oil ISO 46 DIN 51506 Pi...,Commercial card,10.49,"13,251.06"
6736,Total for Materials & Tools,NaN,NaN,NaN,NaN,NaN,NaN,"£13,251.06",NaN

In [4]:
df.columns

Index(['Account ', 'Date', 'Transaction Type', 'No.', 'Name',
       'Memo/Description', 'Split', 'Amount', 'Balance'],
      dtype='object')

In [5]:
df.columns = df.columns.str.strip()

In [6]:
df.columns

Index(['Account', 'Date', 'Transaction Type', 'No.', 'Name',
       'Memo/Description', 'Split', 'Amount', 'Balance'],
      dtype='object')

In [7]:
df['Account']

0                    Barter Account
1                               NaN
2                               NaN
3                               NaN
4                               NaN
                   ...
6732                            NaN
6733                            NaN
6734                            NaN
6735                            NaN
6736    Total for Materials & Tools
Name: Account, Length: 6737, dtype: object

In [8]:
df['Account'].isnull().sum()

6641

In [9]:
df[df['Account'].isnull()].index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   12,
            ...
            6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735],
           dtype='int64', length=6641)

In [10]:
nan_index = df[df['Account'].isnull()].index

In [11]:
nan_index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   12,
            ...
            6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735],
           dtype='int64', length=6641)

In [12]:
df.loc[nan_index,'Account']

1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
       ...
6731    NaN
6732    NaN
6733    NaN
6734    NaN
6735    NaN
Name: Account, Length: 6641, dtype: object

In [13]:
df.loc[nan_index,'Account'] = '-'

In [14]:
df.head(15)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.15,3.15
2,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,6.22,9.37
3,-,05/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.51,14.88
4,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.83,18.71
5,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,2.98,21.69
6,-,07/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.41,27.1
7,-,07/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.29,30.39
8,-,11/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.54,33.93
9,-,11/01/2021,Payment,NaN,Website Sale,NaN,Debtors,1.35,35.28
10,Total for Barter Account,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
11,Cash in Hand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-,26/04/2021,Refund,12430,Jens Biskup,NaN,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
13,-,26/04/2021,Payment,NaN,Jens Biskup,NaN,Debtors,"4,697.50",0
14,Total for Cash in Hand,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN

In [15]:
# df.tail(15)

In [16]:
df['Account'].unique()

array(['Barter Account', '-', 'Total for Barter Account', 'Cash in Hand',
       'Total for Cash in Hand', 'Commercial card',
       'Total for Commercial card', 'Commerzbank',
       'Total for Commerzbank', 'Nat West 5869',
       'Total for Nat West 5869', 'NatWest ****7810',
       'Total for NatWest ****7810', 'Natwest Saver ****7829',
       'Total for Natwest Saver ****7829', 'Petty Cash',
       'Total for Petty Cash', 'Debtors', 'Total for Debtors',
       'Long Term Investment  (TEG)',
       'Total for Long Term Investment  (TEG)', 'Prepayments',
       'Total for Prepayments', 'Rising bite project',
       'Total for Rising bite project', 'Stock / Inventory Asset',
       'Total for Stock / Inventory Asset', 'Stock in Trnasit',
       'Total for Stock in Trnasit', 'Work in Progress',
       'Total for Work in Progress', 'Accumulated Depreciation',
       'Total for Accumulated Depreciation', 'Furniture and Fixtures',
       'Total for Furniture and Fixtures', 'Guns & Rifles - Museum',
       'Total for Guns & Rifles - Museum', 'Machinery',
       'Total for Machinery', 'Museum Items', 'Total for Museum Items',
       'Office equipment', 'Total for Office equipment',
       'Research and Development', 'Total for Research and Development',
       'Vehicles', 'Total for Vehicles', 'Web development',
       'Total for Web development', 'Creditors', 'Total for Creditors',
       'Accruals', 'Total for Accruals', 'Corporation tax',
       'Total for Corporation tax', 'Deferred Tax',
       'Total for Deferred Tax', 'Net Pay', 'Total for Net Pay',
       'Orders in Hand/Deferred Income',
       'Total for Orders in Hand/Deferred Income', 'PAYE Tax',
       'Total for PAYE Tax', 'Pension Payable',
       'Total for Pension Payable', 'VAT Control',
       'Total for VAT Control', 'VAT Suspense', 'Total for VAT Suspense',
       'Blaser Group Loan', 'Total for Blaser Group Loan', 'Blaser Loan',
       'Total for Blaser Loan', 'Dividend', 'Total for Dividend',
       'Retained Earnings', 'Total for Retained Earnings',
       'Share Capital', 'Total for Share Capital', 'Discounts given',
       'Total for Discounts given', 'Dividend Income',
       'Total for Dividend Income', 'Sales of Product Income',
       '   Non UK Sales', '   Total for Non UK Sales', '   Sales',
       '   Total for Sales', '   UK Sales', '   Total for UK Sales',
       'Total for Sales of Product Income', 'Commission',
       'Total for Commission', 'Cost of sales', 'Total for Cost of sales',
       'Materials & Tools', 'Total for Materials & Tools'], dtype=object)

In [17]:
df['Account'] = df['Account'].str.strip()

In [18]:
df['Account'].unique()

array(['Barter Account', '-', 'Total for Barter Account', 'Cash in Hand',
       'Total for Cash in Hand', 'Commercial card',
       'Total for Commercial card', 'Commerzbank',
       'Total for Commerzbank', 'Nat West 5869',
       'Total for Nat West 5869', 'NatWest ****7810',
       'Total for NatWest ****7810', 'Natwest Saver ****7829',
       'Total for Natwest Saver ****7829', 'Petty Cash',
       'Total for Petty Cash', 'Debtors', 'Total for Debtors',
       'Long Term Investment  (TEG)',
       'Total for Long Term Investment  (TEG)', 'Prepayments',
       'Total for Prepayments', 'Rising bite project',
       'Total for Rising bite project', 'Stock / Inventory Asset',
       'Total for Stock / Inventory Asset', 'Stock in Trnasit',
       'Total for Stock in Trnasit', 'Work in Progress',
       'Total for Work in Progress', 'Accumulated Depreciation',
       'Total for Accumulated Depreciation', 'Furniture and Fixtures',
       'Total for Furniture and Fixtures', 'Guns & Rifles - Museum',
       'Total for Guns & Rifles - Museum', 'Machinery',
       'Total for Machinery', 'Museum Items', 'Total for Museum Items',
       'Office equipment', 'Total for Office equipment',
       'Research and Development', 'Total for Research and Development',
       'Vehicles', 'Total for Vehicles', 'Web development',
       'Total for Web development', 'Creditors', 'Total for Creditors',
       'Accruals', 'Total for Accruals', 'Corporation tax',
       'Total for Corporation tax', 'Deferred Tax',
       'Total for Deferred Tax', 'Net Pay', 'Total for Net Pay',
       'Orders in Hand/Deferred Income',
       'Total for Orders in Hand/Deferred Income', 'PAYE Tax',
       'Total for PAYE Tax', 'Pension Payable',
       'Total for Pension Payable', 'VAT Control',
       'Total for VAT Control', 'VAT Suspense', 'Total for VAT Suspense',
       'Blaser Group Loan', 'Total for Blaser Group Loan', 'Blaser Loan',
       'Total for Blaser Loan', 'Dividend', 'Total for Dividend',
       'Retained Earnings', 'Total for Retained Earnings',
       'Share Capital', 'Total for Share Capital', 'Discounts given',
       'Total for Discounts given', 'Dividend Income',
       'Total for Dividend Income', 'Sales of Product Income',
       'Non UK Sales', 'Total for Non UK Sales', 'Sales',
       'Total for Sales', 'UK Sales', 'Total for UK Sales',
       'Total for Sales of Product Income', 'Commission',
       'Total for Commission', 'Cost of sales', 'Total for Cost of sales',
       'Materials & Tools', 'Total for Materials & Tools'], dtype=object)

In [19]:
# Now let's remove the rows which are starting with the Total

In [20]:
df[df['Account'].str.startswith('Total')]

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
10,Total for Barter Account,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
14,Total for Cash in Hand,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
27,Total for Commercial card,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
67,Total for Commerzbank,NaN,NaN,NaN,NaN,NaN,NaN,"£137,765.40",NaN
70,Total for Nat West 5869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Total for NatWest ****7810,NaN,NaN,NaN,NaN,NaN,NaN,"£5,973.81",NaN
137,Total for Natwest Saver ****7829,NaN,NaN,NaN,NaN,NaN,NaN,"-£19,122.79",NaN
140,Total for Petty Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2737,Total for Debtors,NaN,NaN,NaN,NaN,NaN,NaN,"£427,476.41",NaN
2740,Total for Long Term Investment (TEG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2825,Total for Prepayments,NaN,NaN,NaN,NaN,NaN,NaN,"£30,170.78",NaN
2828,Total for Rising bite project,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2861,Total for Stock / Inventory Asset,NaN,NaN,NaN,NaN,NaN,NaN,"-£21,262.16",NaN
2873,Total for Stock in Trnasit,NaN,NaN,NaN,NaN,NaN,NaN,-£784.31,NaN
2897,Total for Work in Progress,NaN,NaN,NaN,NaN,NaN,NaN,"£199,313.06",NaN
2913,Total for Accumulated Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,"-£23,124.74",NaN
2926,Total for Furniture and Fixtures,NaN,NaN,NaN,NaN,NaN,NaN,"£37,542.76",NaN
2929,Total for Guns & Rifles - Museum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2947,Total for Machinery,NaN,NaN,NaN,NaN,NaN,NaN,"£14,465.79",NaN
2950,Total for Museum Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2958,Total for Office equipment,NaN,NaN,NaN,NaN,NaN,NaN,£604.73,NaN
2971,Total for Research and Development,NaN,NaN,NaN,NaN,NaN,NaN,"£6,224.47",NaN
2980,Total for Vehicles,NaN,NaN,NaN,NaN,NaN,NaN,"£89,934.83",NaN
2983,Total for Web development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5234,Total for Creditors,NaN,NaN,NaN,NaN,NaN,NaN,"-£180,803.85",NaN
5357,Total for Accruals,NaN,NaN,NaN,NaN,NaN,NaN,"£2,910.00",NaN
5364,Total for Corporation tax,NaN,NaN,NaN,NaN,NaN,NaN,"£23,592.60",NaN
5367,Total for Deferred Tax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5395,Total for Net Pay,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
5564,Total for Orders in Hand/Deferred Income,NaN,NaN,NaN,NaN,NaN,NaN,"£833,259.25",NaN
5593,Total for PAYE Tax,NaN,NaN,NaN,NaN,NaN,NaN,"£16,905.91",NaN
5620,Total for Pension Payable,NaN,NaN,NaN,NaN,NaN,NaN,£255.42,NaN
5653,Total for VAT Control,NaN,NaN,NaN,NaN,NaN,NaN,"£19,595.61",NaN
5664,Total for VAT Suspense,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
5670,Total for Blaser Group Loan,NaN,NaN,NaN,NaN,NaN,NaN,"£500,000.00",NaN
5674,Total for Blaser Loan,NaN,NaN,NaN,NaN,NaN,NaN,£0.00,NaN
5679,Total for Dividend,NaN,NaN,NaN,NaN,NaN,NaN,"-£500,000.00",NaN
5682,Total for Retained Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5685,Total for Share Capital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5690,Total for Discounts given,NaN,NaN,NaN,NaN,NaN,NaN,"-£45,194.10",NaN
5694,Total for Dividend Income,NaN,NaN,NaN,NaN,NaN,NaN,"£49,600.00",NaN
5730,Total for Non UK Sales,NaN,NaN,NaN,NaN,NaN,NaN,"£3,690,595.48",NaN
5770,Total for Sales,NaN,NaN,NaN,NaN,NaN,NaN,"£31,574.87",NaN
5785,Total for UK Sales,NaN,NaN,NaN,NaN,NaN,NaN,"£164,606.07",NaN
5786,Total for Sales of Product Income,NaN,NaN,NaN,NaN,NaN,NaN,"£3,886,776.42",NaN
5793,Total for Commission,NaN,NaN,NaN,NaN,NaN,NaN,"£38,373.79",NaN
6463,Total for Cost of sales,NaN,NaN,NaN,NaN,NaN,NaN,"£2,013,711.76",NaN
6736,Total for Materials & Tools,NaN,NaN,NaN,NaN,NaN,NaN,"£13,251.06",NaN

In [21]:
total_indexs = df[df['Account'].str.startswith('Total')].index

In [22]:
len(total_indexs)

48

In [23]:
df.drop(total_indexs,inplace = True)

In [77]:
df.shape[0]

6641

In [25]:
df['Account'].head(40)

0      Barter Account
1                   -
2                   -
3                   -
4                   -
5                   -
6                   -
7                   -
8                   -
9                   -
11       Cash in Hand
12                  -
13                  -
15    Commercial card
16                  -
17                  -
18                  -
19                  -
20                  -
21                  -
22                  -
23                  -
24                  -
25                  -
26                  -
28        Commerzbank
29                  -
30                  -
31                  -
32                  -
33                  -
34                  -
35                  -
36                  -
37                  -
38                  -
39                  -
40                  -
41                  -
42                  -
Name: Account, dtype: object

In [26]:
df.reset_index(drop = True,inplace = True)

In [27]:
# df['Account'].head(50)

In [80]:
df.shape[0]

6641

In [29]:
lst = []
for i in df['Account']:
    
    if i != '-':
        k = i 
        
    else:
        lst.append(k)

In [30]:
len(lst)

6641

In [31]:
df.shape

(6689, 9)

In [32]:
df[df['Account'] == '-']

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
1,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.15,3.15
2,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,6.22,9.37
3,-,05/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.51,14.88
4,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.83,18.71
5,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,2.98,21.69
...,...,...,...,...,...,...,...,...,...
6684,-,31/12/2021,Cheque,1599,NaN,Compression Spring Various Size,Commercial card,2.48,"13,154.06"
6685,-,31/12/2021,Cheque,1569,NaN,ACRAGLAS - GEL 4oz KIT,Commercial card,60.8,"13,214.86"
6686,-,31/12/2021,Cheque,1586,NaN,boracic acid,Commercial card,4.16,"13,219.02"
6687,-,31/12/2021,Cheque,1623,NaN,Stainless Steel Repair Washers,Commercial card,21.55,"13,240.57"
6688,-,31/12/2021,Cheque,1558,NaN,1Lx2 Mannol Compressor Oil ISO 46 DIN 51506 Pi...,Commercial card,10.49,"13,251.06"

In [33]:
df = df[df['Account'] == '-'].reset_index(drop = True)

In [34]:
df

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.15,3.15
1,-,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,6.22,9.37
2,-,05/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.51,14.88
3,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.83,18.71
4,-,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,2.98,21.69
...,...,...,...,...,...,...,...,...,...
6636,-,31/12/2021,Cheque,1599,NaN,Compression Spring Various Size,Commercial card,2.48,"13,154.06"
6637,-,31/12/2021,Cheque,1569,NaN,ACRAGLAS - GEL 4oz KIT,Commercial card,60.8,"13,214.86"
6638,-,31/12/2021,Cheque,1586,NaN,boracic acid,Commercial card,4.16,"13,219.02"
6639,-,31/12/2021,Cheque,1623,NaN,Stainless Steel Repair Washers,Commercial card,21.55,"13,240.57"
6640,-,31/12/2021,Cheque,1558,NaN,1Lx2 Mannol Compressor Oil ISO 46 DIN 51506 Pi...,Commercial card,10.49,"13,251.06"

In [35]:
df['Account'] = lst

In [36]:
df.head(20)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,NaN,Website Sale,NaN,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,NaN,Website Sale,NaN,Debtors,2.98,21.69
5,Barter Account,07/01/2021,Payment,NaN,Website Sale,NaN,Debtors,5.41,27.1
6,Barter Account,07/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.29,30.39
7,Barter Account,11/01/2021,Payment,NaN,Website Sale,NaN,Debtors,3.54,33.93
8,Barter Account,11/01/2021,Payment,NaN,Website Sale,NaN,Debtors,1.35,35.28
9,Cash in Hand,26/04/2021,Refund,12430,Jens Biskup,NaN,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
10,Cash in Hand,26/04/2021,Payment,NaN,Jens Biskup,NaN,Debtors,"4,697.50",0
11,Commercial card,15/01/2021,Transfer,NaN,NaN,NaN,Commerzbank,"3,241.02","3,241.02"
12,Commercial card,31/01/2021,Cheque,764,NaN,NaN,MARKETING/SELLING:Postage and Delivery,-34.33,"3,206.69"
13,Commercial card,31/01/2021,Cheque,763,NaN,NaN,-Split-,-176.45,"3,030.24"
14,Commercial card,31/01/2021,Cheque,769,NaN,NaN,-Split-,-96.09,"2,934.15"
15,Commercial card,31/01/2021,Cheque,768,NaN,NaN,-Split-,-113.13,"2,821.02"
16,Commercial card,31/01/2021,Cheque,770,NaN,NaN,MARKETING/SELLING:Subsistasnce and Entertainme...,-205,"2,616.02"
17,Commercial card,31/01/2021,Cheque,767,NaN,NaN,-Split-,-311.19,"2,304.83"
18,Commercial card,31/01/2021,Cheque,766,NaN,NaN,-Split-,-557.7,"1,747.13"
19,Commercial card,31/01/2021,Bill Payment (Cheque),762,3DGBIRE Ltd,NaN,Creditors,"-1,509.60",237.53

In [37]:
df.columns

Index(['Account', 'Date', 'Transaction Type', 'No.', 'Name',
       'Memo/Description', 'Split', 'Amount', 'Balance'],
      dtype='object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6608 non-null   object
 3   No.               4667 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  1662 non-null   object
 6   Split             6608 non-null   object
 7   Amount            6551 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [39]:
df['No.'].isnull().sum()

1974

In [40]:
df['No.'].fillna('Not Paid',inplace = True)

In [41]:
df['No.'].isnull().sum()

0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6608 non-null   object
 3   No.               6641 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  1662 non-null   object
 6   Split             6608 non-null   object
 7   Amount            6551 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [43]:
df.head(50)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,2.98,21.69
5,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,5.41,27.1
6,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.29,30.39
7,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.54,33.93
8,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,1.35,35.28
9,Cash in Hand,26/04/2021,Refund,12430,Jens Biskup,NaN,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
10,Cash in Hand,26/04/2021,Payment,Not Paid,Jens Biskup,NaN,Debtors,"4,697.50",0
11,Commercial card,15/01/2021,Transfer,Not Paid,NaN,NaN,Commerzbank,"3,241.02","3,241.02"
12,Commercial card,31/01/2021,Cheque,764,NaN,NaN,MARKETING/SELLING:Postage and Delivery,-34.33,"3,206.69"
13,Commercial card,31/01/2021,Cheque,763,NaN,NaN,-Split-,-176.45,"3,030.24"
14,Commercial card,31/01/2021,Cheque,769,NaN,NaN,-Split-,-96.09,"2,934.15"
15,Commercial card,31/01/2021,Cheque,768,NaN,NaN,-Split-,-113.13,"2,821.02"
16,Commercial card,31/01/2021,Cheque,770,NaN,NaN,MARKETING/SELLING:Subsistasnce and Entertainme...,-205,"2,616.02"
17,Commercial card,31/01/2021,Cheque,767,NaN,NaN,-Split-,-311.19,"2,304.83"
18,Commercial card,31/01/2021,Cheque,766,NaN,NaN,-Split-,-557.7,"1,747.13"
19,Commercial card,31/01/2021,Bill Payment (Cheque),762,3DGBIRE Ltd,NaN,Creditors,"-1,509.60",237.53
20,Commercial card,31/01/2021,Cheque,765,NaN,NaN,-Split-,-237.53,0
21,Commercial card,11/02/2021,Transfer,Not Paid,NaN,NaN,Commerzbank,"4,273.16","4,273.16"
22,Commerzbank,Beginning Balance,NaN,Not Paid,NaN,NaN,NaN,NaN,"102,365.42"
23,Commerzbank,02/12/2021,Payment,Not Paid,Blaser Group Norway AS,NaN,Debtors,858,"6,353.74"
24,Commerzbank,02/12/2021,Payment,Not Paid,The Traditional English cases Ltd,NaN,Debtors,743.22,"7,096.96"
25,Commerzbank,06/12/2021,Payment,Not Paid,David Auger,NaN,Debtors,"26,685.00","33,781.96"
26,Commerzbank,07/12/2021,Transfer,Not Paid,NaN,NaN,Natwest Saver ****7829,"-150,000.00","-116,218.04"
27,Commerzbank,07/12/2021,Payment,Not Paid,Gordy & Sons Outfitters,NaN,Debtors,"364,173.80","247,955.76"
28,Commerzbank,08/12/2021,Bill Payment (Cheque),9370,Blaser Group UK supplier,NaN,Creditors,"-18,242.40","229,713.36"
29,Commerzbank,08/12/2021,Bill Payment (Cheque),9368,Blaser Group,NaN,Creditors,"-116,779.30","112,934.06"
30,Commerzbank,10/12/2021,Payment,Not Paid,David Modesett,NaN,Debtors,"147,820.00","260,754.06"
31,Commerzbank,10/12/2021,Payment,Not Paid,Sheikh Salman Bin Ebrahim Al-Khalifa,NaN,Debtors,"15,987.75","276,741.81"
32,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"1,117.81","277,859.62"
33,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"3,341.13","281,200.75"
34,Commerzbank,12/12/2021,Cheque,Not Paid,Alphabet GP Ltd,NaN,MARKETING/SELLING:Car Rental,-203.41,"280,997.34"
35,Commerzbank,12/12/2021,Transfer,Not Paid,NaN,NaN,Natwest Saver ****7829,"-70,000.00","210,997.34"
36,Commerzbank,13/12/2021,Transfer,Not Paid,NaN,NaN,Commercial card,"-9,909.44","201,087.90"
37,Commerzbank,13/12/2021,Bill Payment (Cheque),9366,Alphabet GP Ltd,NaN,Creditors,"-1,326.87","199,761.03"
38,Commerzbank,13/12/2021,Bill Payment (Cheque),9364,Blaser GMBH,NaN,Creditors,"-9,373.00","190,388.03"
39,Commerzbank,14/12/2021,Bill Payment (Cheque),9365,Blaser Group SAS,NaN,Creditors,"-17,900.00","172,488.03"
40,Commerzbank,14/12/2021,Payment,Not Paid,Armurerie Mallet,NaN,Debtors,"1,272.00","173,760.03"
41,Commerzbank,15/12/2021,Bill Payment (Cheque),9367,Alphabet GP Ltd,NaN,Creditors,"-1,045.12","172,714.91"
42,Commerzbank,16/12/2021,Bill Payment (Cheque),9376,Kingsmen,NaN,Creditors,"-6,120.86","166,594.05"
43,Commerzbank,16/12/2021,Cheque,9374,Alphabet GP Ltd,NaN,MARKETING/SELLING:Car Rental,-348.37,"166,245.68"
44,Commerzbank,17/12/2021,Payment,Not Paid,James Walton,NaN,Debtors,"5,162.40","171,408.08"
45,Commerzbank,17/12/2021,Payment,Not Paid,HH Sheikh Mohammed Al-Sharqi,NaN,Debtors,"186,000.00","357,408.08"
46,Commerzbank,17/12/2021,Bill Payment (Cheque),9372,Alphabet GP Ltd,NaN,Creditors,-568,"356,840.08"
47,Commerzbank,17/12/2021,Payment,Not Paid,Steven F Clark,NaN,Debtors,"6,940.00","363,780.08"
48,Commerzbank,20/12/2021,Payment,Not Paid,Armurerie Richard,NaN,Debtors,"30,754.00","394,534.08"
49,Commerzbank,20/12/2021,Payment,Not Paid,Tommy Salmon,NaN,Debtors,"13,385.89","407,919.97"

In [44]:
df['Amount'].fillna('0',inplace = True)

In [45]:
df['Amount'].isnull().sum()

0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6608 non-null   object
 3   No.               6641 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  1662 non-null   object
 6   Split             6608 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [47]:
df['Split'].isnull().sum()

33

In [48]:
df.head(50)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,2.98,21.69
5,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,5.41,27.1
6,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.29,30.39
7,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,3.54,33.93
8,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,NaN,Debtors,1.35,35.28
9,Cash in Hand,26/04/2021,Refund,12430,Jens Biskup,NaN,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
10,Cash in Hand,26/04/2021,Payment,Not Paid,Jens Biskup,NaN,Debtors,"4,697.50",0
11,Commercial card,15/01/2021,Transfer,Not Paid,NaN,NaN,Commerzbank,"3,241.02","3,241.02"
12,Commercial card,31/01/2021,Cheque,764,NaN,NaN,MARKETING/SELLING:Postage and Delivery,-34.33,"3,206.69"
13,Commercial card,31/01/2021,Cheque,763,NaN,NaN,-Split-,-176.45,"3,030.24"
14,Commercial card,31/01/2021,Cheque,769,NaN,NaN,-Split-,-96.09,"2,934.15"
15,Commercial card,31/01/2021,Cheque,768,NaN,NaN,-Split-,-113.13,"2,821.02"
16,Commercial card,31/01/2021,Cheque,770,NaN,NaN,MARKETING/SELLING:Subsistasnce and Entertainme...,-205,"2,616.02"
17,Commercial card,31/01/2021,Cheque,767,NaN,NaN,-Split-,-311.19,"2,304.83"
18,Commercial card,31/01/2021,Cheque,766,NaN,NaN,-Split-,-557.7,"1,747.13"
19,Commercial card,31/01/2021,Bill Payment (Cheque),762,3DGBIRE Ltd,NaN,Creditors,"-1,509.60",237.53
20,Commercial card,31/01/2021,Cheque,765,NaN,NaN,-Split-,-237.53,0
21,Commercial card,11/02/2021,Transfer,Not Paid,NaN,NaN,Commerzbank,"4,273.16","4,273.16"
22,Commerzbank,Beginning Balance,NaN,Not Paid,NaN,NaN,NaN,0,"102,365.42"
23,Commerzbank,02/12/2021,Payment,Not Paid,Blaser Group Norway AS,NaN,Debtors,858,"6,353.74"
24,Commerzbank,02/12/2021,Payment,Not Paid,The Traditional English cases Ltd,NaN,Debtors,743.22,"7,096.96"
25,Commerzbank,06/12/2021,Payment,Not Paid,David Auger,NaN,Debtors,"26,685.00","33,781.96"
26,Commerzbank,07/12/2021,Transfer,Not Paid,NaN,NaN,Natwest Saver ****7829,"-150,000.00","-116,218.04"
27,Commerzbank,07/12/2021,Payment,Not Paid,Gordy & Sons Outfitters,NaN,Debtors,"364,173.80","247,955.76"
28,Commerzbank,08/12/2021,Bill Payment (Cheque),9370,Blaser Group UK supplier,NaN,Creditors,"-18,242.40","229,713.36"
29,Commerzbank,08/12/2021,Bill Payment (Cheque),9368,Blaser Group,NaN,Creditors,"-116,779.30","112,934.06"
30,Commerzbank,10/12/2021,Payment,Not Paid,David Modesett,NaN,Debtors,"147,820.00","260,754.06"
31,Commerzbank,10/12/2021,Payment,Not Paid,Sheikh Salman Bin Ebrahim Al-Khalifa,NaN,Debtors,"15,987.75","276,741.81"
32,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"1,117.81","277,859.62"
33,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"3,341.13","281,200.75"
34,Commerzbank,12/12/2021,Cheque,Not Paid,Alphabet GP Ltd,NaN,MARKETING/SELLING:Car Rental,-203.41,"280,997.34"
35,Commerzbank,12/12/2021,Transfer,Not Paid,NaN,NaN,Natwest Saver ****7829,"-70,000.00","210,997.34"
36,Commerzbank,13/12/2021,Transfer,Not Paid,NaN,NaN,Commercial card,"-9,909.44","201,087.90"
37,Commerzbank,13/12/2021,Bill Payment (Cheque),9366,Alphabet GP Ltd,NaN,Creditors,"-1,326.87","199,761.03"
38,Commerzbank,13/12/2021,Bill Payment (Cheque),9364,Blaser GMBH,NaN,Creditors,"-9,373.00","190,388.03"
39,Commerzbank,14/12/2021,Bill Payment (Cheque),9365,Blaser Group SAS,NaN,Creditors,"-17,900.00","172,488.03"
40,Commerzbank,14/12/2021,Payment,Not Paid,Armurerie Mallet,NaN,Debtors,"1,272.00","173,760.03"
41,Commerzbank,15/12/2021,Bill Payment (Cheque),9367,Alphabet GP Ltd,NaN,Creditors,"-1,045.12","172,714.91"
42,Commerzbank,16/12/2021,Bill Payment (Cheque),9376,Kingsmen,NaN,Creditors,"-6,120.86","166,594.05"
43,Commerzbank,16/12/2021,Cheque,9374,Alphabet GP Ltd,NaN,MARKETING/SELLING:Car Rental,-348.37,"166,245.68"
44,Commerzbank,17/12/2021,Payment,Not Paid,James Walton,NaN,Debtors,"5,162.40","171,408.08"
45,Commerzbank,17/12/2021,Payment,Not Paid,HH Sheikh Mohammed Al-Sharqi,NaN,Debtors,"186,000.00","357,408.08"
46,Commerzbank,17/12/2021,Bill Payment (Cheque),9372,Alphabet GP Ltd,NaN,Creditors,-568,"356,840.08"
47,Commerzbank,17/12/2021,Payment,Not Paid,Steven F Clark,NaN,Debtors,"6,940.00","363,780.08"
48,Commerzbank,20/12/2021,Payment,Not Paid,Armurerie Richard,NaN,Debtors,"30,754.00","394,534.08"
49,Commerzbank,20/12/2021,Payment,Not Paid,Tommy Salmon,NaN,Debtors,"13,385.89","407,919.97"

In [49]:
df['Split'].fillna('None',inplace = True)

In [50]:
df['Split'].isnull().sum()

0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6608 non-null   object
 3   No.               6641 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  1662 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [52]:
df.tail(50)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
6591,Materials & Tools,30/11/2021,Cheque,1457,NaN,HUMBROL Enamel Model Paint - ALL COLOURS - Mat...,Commercial card,8.55,"11,608.90"
6592,Materials & Tools,30/11/2021,Cheque,1473,NaN,"120ml can Armistol Gun Oil firearms, shotgun r...",Commercial card,45.95,"11,654.85"
6593,Materials & Tools,30/11/2021,Cheque,1483,NaN,Duracell NEW Plus 9V Alkaline Batteries [Pack ...,Commercial card,10.29,"11,665.14"
6594,Materials & Tools,30/11/2021,Cheque,1528,NaN,Rothenberger Propane Gas Cylinder For Jet Torc...,Commercial card,73.86,"11,739.00"
6595,Materials & Tools,30/11/2021,Cheque,1459,NaN,Monument MON262 262S Tub White Tallow Medium (...,Commercial card,10.73,"11,749.73"
6596,Materials & Tools,30/11/2021,Cheque,1501,NaN,Everbuild RAW LINSEED OIL Wood Treatment Lubri...,Commercial card,18.84,"11,768.57"
6597,Materials & Tools,30/11/2021,Cheque,1472,NaN,"50 ml VASELINE OIL Reduces friction, preserves...",Commercial card,44.9,"11,813.47"
6598,Materials & Tools,30/11/2021,Cheque,1531,NaN,LOCTITE Super Glue 10g Bottle Precision Max Ex...,Commercial card,43.8,"11,857.27"
6599,Materials & Tools,30/11/2021,Cheque,1488,NaN,"8"" - 200mm Dreadnought Curved Tooth Tanged Fil...",Commercial card,8.99,"11,866.26"
6600,Materials & Tools,30/11/2021,Cheque,1458,NaN,M4 M5 M6 M8 M10 SOCKET CUP POINT GRUB SCREWS H...,Commercial card,9.34,"11,875.60"
6601,Materials & Tools,30/11/2021,Cheque,1527,NaN,"112""(2845mm) x 1/2"" Carbon Flex 8R (TPI) Starr...",Commercial card,42.35,"11,917.95"
6602,Materials & Tools,30/11/2021,Cheque,1493,NaN,Bright Mild Steel Flat Bar 20mmx8mm 400mm Long...,Commercial card,9.5,"11,927.45"
6603,Materials & Tools,30/11/2021,Cheque,1454,NaN,6mm END MILL WNT 50968062 Solid Carbide Silver...,Commercial card,47.64,"11,975.09"
6604,Materials & Tools,30/11/2021,Cheque,1481,NaN,"Tolsen Straight Jaw Locking Pliers 10"" (250mm)...",Commercial card,10.95,"11,986.04"
6605,Materials & Tools,30/11/2021,Cheque,1471,NaN,"1L LITER VASELINE OIL Reduces friction, preser...",Commercial card,43.96,"12,030.00"
6606,Materials & Tools,30/11/2021,Cheque,1440,NaN,Ball and spring plunger stainless steel M3 4 5...,Commercial card,28.5,"12,058.50"
6607,Materials & Tools,30/11/2021,Cheque,1521,NaN,Starcke Matador Waterproof Wet &\nDry Sandpaper,Commercial card,190.4,"12,248.90"
6608,Materials & Tools,30/11/2021,Cheque,1468,NaN,workswhop tools,Commercial card,15.6,"12,264.50"
6609,Materials & Tools,30/11/2021,Cheque,1518,NaN,workshop consumable,Commercial card,30.4,"12,294.90"
6610,Materials & Tools,30/11/2021,Cheque,1434,NaN,10x Mini Diamond Cutting Discs Wheel Blades Dr...,Commercial card,4.47,"12,299.37"
6611,Materials & Tools,30/11/2021,Cheque,1474,NaN,Mitutoyo 500-196-30 Absolute AOS Digimatic Dig...,Commercial card,178,"12,477.37"
6612,Materials & Tools,30/11/2021,Cheque,1522,NaN,workshop consumable,Commercial card,31.98,"12,509.35"
6613,Materials & Tools,30/11/2021,Cheque,1456,NaN,Bright Mild Steel Flat Bar Various Sizes 20mm ...,Commercial card,7.53,"12,516.88"
6614,Materials & Tools,30/11/2021,Journal Entry,3359,NaN,workshop material refund,-Split-,-32.57,"12,484.31"
6615,Materials & Tools,31/12/2021,Cheque,1587,NaN,Sponge Paint Varnish,Commercial card,4.16,"12,488.47"
6616,Materials & Tools,31/12/2021,Cheque,1583,NaN,Torus High Performance Roughing End Mill,Commercial card,23.45,"12,511.92"
6617,Materials & Tools,31/12/2021,Cheque,1644,NaN,PURE TIN STANNUM,Commercial card,25,"12,536.92"
6618,Materials & Tools,31/12/2021,Cheque,1621,NaN,Natural Earth Pigments,Commercial card,13.6,"12,550.52"
6619,Materials & Tools,31/12/2021,Cheque,1598,NaN,3mm X 15mm Compression Springs 10pk Model Engi...,Commercial card,2.46,"12,552.98"
6620,Materials & Tools,31/12/2021,Cheque,1559,NaN,Wera Tools 12Pce Precision Screwdriver Tool Ki...,Commercial card,38.95,"12,591.93"
6621,Materials & Tools,31/12/2021,Cheque,1541,NaN,Thor 1212 deadblow 38mm 1.1/2in 700g nylon fac...,Commercial card,20.99,"12,612.92"
6622,Materials & Tools,31/12/2021,Cheque,1632,NaN,Gas Burner Cooker,Commercial card,59.98,"12,672.90"
6623,Materials & Tools,31/12/2021,Cheque,1600,NaN,MILD STEEL SEAMLESS ROUND TUBE PIPE CDS 7.94mm,Commercial card,11.5,"12,684.40"
6624,Materials & Tools,31/12/2021,Cheque,1627,NaN,Stuarts Micrometer Engineers Marking,Commercial card,4.4,"12,688.80"
6625,Materials & Tools,31/12/2021,Cheque,1588,NaN,Brushes Set Sponge Paint Varnish Oils Art Craft,Commercial card,4.92,"12,693.72"
6626,Materials & Tools,31/12/2021,Cheque,1582,NaN,"Woven Wire, 200 Mesh, 77?m hole, 0.05mm wire, ...",Commercial card,9.99,"12,703.71"
6627,Materials & Tools,31/12/2021,Cheque,1543,NaN,Vintage Engineers Hand Vice Clamp (284476272063,Commercial card,12,"12,715.71"
6628,Materials & Tools,31/12/2021,Cheque,1585,NaN,16mm END MILL WIDIA HANITA ITC CARBIDE,Commercial card,114.24,"12,829.95"
6629,Materials & Tools,31/12/2021,Cheque,1547,NaN,"Superb Vintage handheld vice, clamp, hand vice...",Commercial card,19.75,"12,849.70"
6630,Materials & Tools,31/12/2021,Cheque,1614,NaN,Zoro Uk,Commercial card,20.36,"12,870.06"
6631,Materials & Tools,31/12/2021,Cheque,1622,NaN,OPT-302-646,Commercial card,15.99,"12,886.05"
6632,Materials & Tools,31/12/2021,Cheque,1616,NaN,Magnetic Screwdriver Bit Holder Finger Saver,Commercial card,14.85,"12,900.90"
6633,Materials & Tools,31/12/2021,Cheque,1544,NaN,"Vintage hand held pin vice 1"" jaw (265096006954",Commercial card,15,"12,915.90"
6634,Materials & Tools,31/12/2021,Cheque,1562,NaN,Walter Prototyp HSS-E Machine Taps M20513-M3,Commercial card,114,"13,029.90"
6635,Materials & Tools,31/12/2021,Cheque,1563,Travis Perkins,Sawn Treated Timber Regularised 47mm x 50mm x ...,Commercial card,121.68,"13,151.58"
6636,Materials & Tools,31/12/2021,Cheque,1599,NaN,Compression Spring Various Size,Commercial card,2.48,"13,154.06"
6637,Materials & Tools,31/12/2021,Cheque,1569,NaN,ACRAGLAS - GEL 4oz KIT,Commercial card,60.8,"13,214.86"
6638,Materials & Tools,31/12/2021,Cheque,1586,NaN,boracic acid,Commercial card,4.16,"13,219.02"
6639,Materials & Tools,31/12/2021,Cheque,1623,NaN,Stainless Steel Repair Washers,Commercial card,21.55,"13,240.57"
6640,Materials & Tools,31/12/2021,Cheque,1558,NaN,1Lx2 Mannol Compressor Oil ISO 46 DIN 51506 Pi...,Commercial card,10.49,"13,251.06"

In [53]:
df['Memo/Description'].fillna('Not Specified',inplace = True)

In [54]:
df['Memo/Description'].isnull().sum()

0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6608 non-null   object
 3   No.               6641 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [56]:
df['Transaction Type'].fillna('Not Mentioned',inplace = True)

In [57]:
df[df['Transaction Type'] == 'Not Mentioned']

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
22,Commerzbank,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"102,365.42"
60,Nat West 5869,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,1.62
61,NatWest ****7810,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"4,999.81"
96,Natwest Saver ****7829,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"23,631.31"
124,Petty Cash,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,324.38
125,Debtors,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"1,055,215.10"
2720,Long Term Investment (TEG),Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"515,776.49"
2721,Prepayments,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"163,369.97"
2804,Rising bite project,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"2,650.01"
2805,Stock / Inventory Asset,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"749,824.62"
2836,Stock in Trnasit,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,784.31
2846,Work in Progress,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"1,822,014.80"
2868,Accumulated Depreciation,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"-78,510.79"
2882,Furniture and Fixtures,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"71,998.47"
2893,Guns & Rifles - Museum,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"313,207.33"
2894,Machinery,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"50,903.92"
2910,Museum Items,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"20,170.77"
2911,Office equipment,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"22,892.48"
2917,Research and Development,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"305,559.28"
2935,Web development,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"22,878.63"
2936,Creditors,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"956,153.60"
5185,Accruals,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"30,050.00"
5306,Corporation tax,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"-37,386.05"
5311,Deferred Tax,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"78,162.00"
5338,Orders in Hand/Deferred Income,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"997,618.86"
5505,PAYE Tax,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"47,235.67"
5532,Pension Payable,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"4,107.76"
5557,VAT Control,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"-64,480.74"
5588,VAT Suspense,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,28.7
5597,Blaser Group Loan,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"2,345,000.00"
5603,Dividend,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"-175,000.00"
5606,Retained Earnings,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"983,568.13"
5607,Share Capital,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"5,000.00"

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6641 non-null   object
 3   No.               6641 non-null   object
 4   Name              5574 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [59]:
df.head(50)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,2.98,21.69
5,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,5.41,27.1
6,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.29,30.39
7,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.54,33.93
8,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,1.35,35.28
9,Cash in Hand,26/04/2021,Refund,12430,Jens Biskup,Not Specified,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
10,Cash in Hand,26/04/2021,Payment,Not Paid,Jens Biskup,Not Specified,Debtors,"4,697.50",0
11,Commercial card,15/01/2021,Transfer,Not Paid,NaN,Not Specified,Commerzbank,"3,241.02","3,241.02"
12,Commercial card,31/01/2021,Cheque,764,NaN,Not Specified,MARKETING/SELLING:Postage and Delivery,-34.33,"3,206.69"
13,Commercial card,31/01/2021,Cheque,763,NaN,Not Specified,-Split-,-176.45,"3,030.24"
14,Commercial card,31/01/2021,Cheque,769,NaN,Not Specified,-Split-,-96.09,"2,934.15"
15,Commercial card,31/01/2021,Cheque,768,NaN,Not Specified,-Split-,-113.13,"2,821.02"
16,Commercial card,31/01/2021,Cheque,770,NaN,Not Specified,MARKETING/SELLING:Subsistasnce and Entertainme...,-205,"2,616.02"
17,Commercial card,31/01/2021,Cheque,767,NaN,Not Specified,-Split-,-311.19,"2,304.83"
18,Commercial card,31/01/2021,Cheque,766,NaN,Not Specified,-Split-,-557.7,"1,747.13"
19,Commercial card,31/01/2021,Bill Payment (Cheque),762,3DGBIRE Ltd,Not Specified,Creditors,"-1,509.60",237.53
20,Commercial card,31/01/2021,Cheque,765,NaN,Not Specified,-Split-,-237.53,0
21,Commercial card,11/02/2021,Transfer,Not Paid,NaN,Not Specified,Commerzbank,"4,273.16","4,273.16"
22,Commerzbank,Beginning Balance,Not Mentioned,Not Paid,NaN,Not Specified,None,0,"102,365.42"
23,Commerzbank,02/12/2021,Payment,Not Paid,Blaser Group Norway AS,Not Specified,Debtors,858,"6,353.74"
24,Commerzbank,02/12/2021,Payment,Not Paid,The Traditional English cases Ltd,Not Specified,Debtors,743.22,"7,096.96"
25,Commerzbank,06/12/2021,Payment,Not Paid,David Auger,Not Specified,Debtors,"26,685.00","33,781.96"
26,Commerzbank,07/12/2021,Transfer,Not Paid,NaN,Not Specified,Natwest Saver ****7829,"-150,000.00","-116,218.04"
27,Commerzbank,07/12/2021,Payment,Not Paid,Gordy & Sons Outfitters,Not Specified,Debtors,"364,173.80","247,955.76"
28,Commerzbank,08/12/2021,Bill Payment (Cheque),9370,Blaser Group UK supplier,Not Specified,Creditors,"-18,242.40","229,713.36"
29,Commerzbank,08/12/2021,Bill Payment (Cheque),9368,Blaser Group,Not Specified,Creditors,"-116,779.30","112,934.06"
30,Commerzbank,10/12/2021,Payment,Not Paid,David Modesett,Not Specified,Debtors,"147,820.00","260,754.06"
31,Commerzbank,10/12/2021,Payment,Not Paid,Sheikh Salman Bin Ebrahim Al-Khalifa,Not Specified,Debtors,"15,987.75","276,741.81"
32,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"1,117.81","277,859.62"
33,Commerzbank,12/12/2021,Journal Entry,3394,NaN,Refund of overpayment being received from Lothar,-Split-,"3,341.13","281,200.75"
34,Commerzbank,12/12/2021,Cheque,Not Paid,Alphabet GP Ltd,Not Specified,MARKETING/SELLING:Car Rental,-203.41,"280,997.34"
35,Commerzbank,12/12/2021,Transfer,Not Paid,NaN,Not Specified,Natwest Saver ****7829,"-70,000.00","210,997.34"
36,Commerzbank,13/12/2021,Transfer,Not Paid,NaN,Not Specified,Commercial card,"-9,909.44","201,087.90"
37,Commerzbank,13/12/2021,Bill Payment (Cheque),9366,Alphabet GP Ltd,Not Specified,Creditors,"-1,326.87","199,761.03"
38,Commerzbank,13/12/2021,Bill Payment (Cheque),9364,Blaser GMBH,Not Specified,Creditors,"-9,373.00","190,388.03"
39,Commerzbank,14/12/2021,Bill Payment (Cheque),9365,Blaser Group SAS,Not Specified,Creditors,"-17,900.00","172,488.03"
40,Commerzbank,14/12/2021,Payment,Not Paid,Armurerie Mallet,Not Specified,Debtors,"1,272.00","173,760.03"
41,Commerzbank,15/12/2021,Bill Payment (Cheque),9367,Alphabet GP Ltd,Not Specified,Creditors,"-1,045.12","172,714.91"
42,Commerzbank,16/12/2021,Bill Payment (Cheque),9376,Kingsmen,Not Specified,Creditors,"-6,120.86","166,594.05"
43,Commerzbank,16/12/2021,Cheque,9374,Alphabet GP Ltd,Not Specified,MARKETING/SELLING:Car Rental,-348.37,"166,245.68"
44,Commerzbank,17/12/2021,Payment,Not Paid,James Walton,Not Specified,Debtors,"5,162.40","171,408.08"
45,Commerzbank,17/12/2021,Payment,Not Paid,HH Sheikh Mohammed Al-Sharqi,Not Specified,Debtors,"186,000.00","357,408.08"
46,Commerzbank,17/12/2021,Bill Payment (Cheque),9372,Alphabet GP Ltd,Not Specified,Creditors,-568,"356,840.08"
47,Commerzbank,17/12/2021,Payment,Not Paid,Steven F Clark,Not Specified,Debtors,"6,940.00","363,780.08"
48,Commerzbank,20/12/2021,Payment,Not Paid,Armurerie Richard,Not Specified,Debtors,"30,754.00","394,534.08"
49,Commerzbank,20/12/2021,Payment,Not Paid,Tommy Salmon,Not Specified,Debtors,"13,385.89","407,919.97"

In [60]:
df['Name'].fillna('Unknown',inplace = True)

In [61]:
df['Name'].head(15)

0     Website Sale
1     Website Sale
2     Website Sale
3     Website Sale
4     Website Sale
5     Website Sale
6     Website Sale
7     Website Sale
8     Website Sale
9      Jens Biskup
10     Jens Biskup
11         Unknown
12         Unknown
13         Unknown
14         Unknown
Name: Name, dtype: object

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6641 non-null   object
 3   No.               6641 non-null   object
 4   Name              6641 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   object
dtypes: object(9)
memory usage: 467.1+ KB

In [63]:
df.head(14)

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,2.98,21.69
5,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,5.41,27.1
6,Barter Account,07/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.29,30.39
7,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.54,33.93
8,Barter Account,11/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,1.35,35.28
9,Cash in Hand,26/04/2021,Refund,12430,Jens Biskup,Not Specified,Orders in Hand/Deferred Income,"-4,697.50","-4,697.50"
10,Cash in Hand,26/04/2021,Payment,Not Paid,Jens Biskup,Not Specified,Debtors,"4,697.50",0
11,Commercial card,15/01/2021,Transfer,Not Paid,Unknown,Not Specified,Commerzbank,"3,241.02","3,241.02"
12,Commercial card,31/01/2021,Cheque,764,Unknown,Not Specified,MARKETING/SELLING:Postage and Delivery,-34.33,"3,206.69"
13,Commercial card,31/01/2021,Cheque,763,Unknown,Not Specified,-Split-,-176.45,"3,030.24"

In [64]:
df['Balance'] = df['Balance'].str.replace(',','')

In [65]:
df['Balance'] = df['Balance'].astype(float)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6641 non-null   object
 3   No.               6641 non-null   object
 4   Name              6641 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   object
 8   Balance           6641 non-null   float64
dtypes: float64(1), object(8)
memory usage: 467.1+ KB

In [67]:
df['Amount'] = df['Amount'].str.replace(',','')

In [68]:
df['Amount'] = df['Amount'].astype(float)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   object
 2   Transaction Type  6641 non-null   object
 3   No.               6641 non-null   object
 4   Name              6641 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   float64
 8   Balance           6641 non-null   float64
dtypes: float64(2), object(7)
memory usage: 467.1+ KB

In [70]:
df.head()

,Account,Date,Transaction Type,No.,Name,Memo/Description,Split,Amount,Balance
0,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.15,3.15
1,Barter Account,04/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,6.22,9.37
2,Barter Account,05/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,5.51,14.88
3,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,3.83,18.71
4,Barter Account,06/01/2021,Payment,Not Paid,Website Sale,Not Specified,Debtors,2.98,21.69

In [71]:
df['Date']

0       04/01/2021
1       04/01/2021
2       05/01/2021
3       06/01/2021
4       06/01/2021
           ...
6636    31/12/2021
6637    31/12/2021
6638    31/12/2021
6639    31/12/2021
6640    31/12/2021
Name: Date, Length: 6641, dtype: object

In [72]:
df['Date'].head(25)

0            04/01/2021
1            04/01/2021
2            05/01/2021
3            06/01/2021
4            06/01/2021
5            07/01/2021
6            07/01/2021
7            11/01/2021
8            11/01/2021
9            26/04/2021
10           26/04/2021
11           15/01/2021
12           31/01/2021
13           31/01/2021
14           31/01/2021
15           31/01/2021
16           31/01/2021
17           31/01/2021
18           31/01/2021
19           31/01/2021
20           31/01/2021
21           11/02/2021
22    Beginning Balance
23           02/12/2021
24           02/12/2021
Name: Date, dtype: object

In [73]:
df['Date'] = df['Date'].str.replace('Beginning Balance','11/02/2021')

In [74]:
df['Date'] = pd.to_datetime(df['Date'],format = '%d/%m/%Y')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6641 entries, 0 to 6640
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Account           6641 non-null   object
 1   Date              6641 non-null   datetime64[ns]
 2   Transaction Type  6641 non-null   object
 3   No.               6641 non-null   object
 4   Name              6641 non-null   object
 5   Memo/Description  6641 non-null   object
 6   Split             6641 non-null   object
 7   Amount            6641 non-null   float64
 8   Balance           6641 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 467.1+ KB