In [1]:
import pandas as pd

In [2]:
cric = pd.read_csv('tcric.csv')

In [3]:
cric.head(10)

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,NaN,Australia,1-0 (1)
1,Australia in England T20I Match,2005,NaN,England,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,NaN,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,NaN,Australia,1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,NaN,New Zealand,1-0 (1)
5,Australia in South Africa T20I Match,2005/06,NaN,South Africa,1-0 (1)
6,Sri Lanka in England T20I Match,2006,NaN,Sri Lanka,1-0 (1)
7,Pakistan in England T20I Match,2006,NaN,Pakistan,1-0 (1)
8,Zimbabwe in Bangladesh T20I Match,2006/07,NaN,Bangladesh,1-0 (1)
9,India in South Africa T20I Match,2006/07,NaN,India,1-0 (1)

In [4]:
cric.head()

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,NaN,Australia,1-0 (1)
1,Australia in England T20I Match,2005,NaN,England,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,NaN,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,NaN,Australia,1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,NaN,New Zealand,1-0 (1)

In [5]:
cric.tail()

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,NaN,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,NaN,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,NaN,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,NaN,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,NaN,Pakistan,3-0 (3)

In [6]:
cric.tail(5)

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,NaN,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,NaN,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,NaN,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,NaN,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,NaN,Pakistan,3-0 (3)

In [7]:
cric.head(10)

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,NaN,Australia,1-0 (1)
1,Australia in England T20I Match,2005,NaN,England,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,NaN,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,NaN,Australia,1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,NaN,New Zealand,1-0 (1)
5,Australia in South Africa T20I Match,2005/06,NaN,South Africa,1-0 (1)
6,Sri Lanka in England T20I Match,2006,NaN,Sri Lanka,1-0 (1)
7,Pakistan in England T20I Match,2006,NaN,Pakistan,1-0 (1)
8,Zimbabwe in Bangladesh T20I Match,2006/07,NaN,Bangladesh,1-0 (1)
9,India in South Africa T20I Match,2006/07,NaN,India,1-0 (1)

In [8]:
cric.tail(10)

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
377,Gibraltar in Malta T20I Series,2021/22,NaN,drawn,0-0 (2)
378,Sierra Leone in Nigeria T20I Series,2021/22,NaN,Nigeria,5-1 (6)
379,ICC Men's T20 World Cup Asia A Qualifier (Bahr...,2021/22,NaN,Bahrain,NaN
380,ICC Men's T20 World Cup Sub Regional Africa Qu...,2021/22,NaN,Tanzania,NaN
381,ICC Men's T20 World Cup (in Oman/United Arab E...,2021/22,NaN,Australia,NaN
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,NaN,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,NaN,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,NaN,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,NaN,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,NaN,Pakistan,3-0 (3)

In [9]:
cric.shape

(387, 5)

In [10]:
cric.info

<bound method DataFrame.info of                                      Series/Tournament   Season  Unnamed: 2  \
0                  Australia in New Zealand T20I Match  2004/05         NaN
1                      Australia in England T20I Match     2005         NaN
2               New Zealand in South Africa T20I Match  2005/06         NaN
3                 South Africa in Australia T20I Match  2005/06         NaN
4                West Indies in New Zealand T20I Match  2005/06         NaN
..                                                 ...      ...         ...
382  ICC Men's T20 World Cup Americas Region Qualif...  2021/22         NaN
383  ICC Men's T20 World Cup Africa Region Qualifie...  2021/22         NaN
384                   New Zealand in India T20I Series  2021/22         NaN
385                 Pakistan in Bangladesh T20I Series  2021/22         NaN
386                West Indies in Pakistan T20I Series  2021/22         NaN

          Winner   Margin
0      Australia  1-0 (1)
1        England  1-0 (1)
2    New Zealand  1-0 (1)
3      Australia  1-0 (1)
4    New Zealand  1-0 (1)
..           ...      ...
382       U.S.A.      NaN
383       Uganda      NaN
384        India  3-0 (3)
385     Pakistan  3-0 (3)
386     Pakistan  3-0 (3)

[387 rows x 5 columns]>

In [11]:
cric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series/Tournament  387 non-null    object
 1   Season             387 non-null    object
 2   Unnamed: 2         0 non-null      float64
 3   Winner             378 non-null    object
 4   Margin             315 non-null    object
dtypes: float64(1), object(4)
memory usage: 15.2+ KB

In [12]:
cric.describe()

       Unnamed: 2
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [13]:
cric.value_counts

<bound method DataFrame.value_counts of                                      Series/Tournament   Season  Unnamed: 2  \
0                  Australia in New Zealand T20I Match  2004/05         NaN
1                      Australia in England T20I Match     2005         NaN
2               New Zealand in South Africa T20I Match  2005/06         NaN
3                 South Africa in Australia T20I Match  2005/06         NaN
4                West Indies in New Zealand T20I Match  2005/06         NaN
..                                                 ...      ...         ...
382  ICC Men's T20 World Cup Americas Region Qualif...  2021/22         NaN
383  ICC Men's T20 World Cup Africa Region Qualifie...  2021/22         NaN
384                   New Zealand in India T20I Series  2021/22         NaN
385                 Pakistan in Bangladesh T20I Series  2021/22         NaN
386                West Indies in Pakistan T20I Series  2021/22         NaN

          Winner   Margin
0      Australia  1-0 (1)
1        England  1-0 (1)
2    New Zealand  1-0 (1)
3      Australia  1-0 (1)
4    New Zealand  1-0 (1)
..           ...      ...
382       U.S.A.      NaN
383       Uganda      NaN
384        India  3-0 (3)
385     Pakistan  3-0 (3)
386     Pakistan  3-0 (3)

[387 rows x 5 columns]>

In [14]:
cric.isnull().sum()

Series/Tournament      0
Season                 0
Unnamed: 2           387
Winner                 9
Margin                72
dtype: int64

In [15]:
cric.isnull().sum()

Series/Tournament      0
Season                 0
Unnamed: 2           387
Winner                 9
Margin                72
dtype: int64

In [16]:
cric.dropna()

Empty DataFrame
Columns: [Series/Tournament, Season, Unnamed: 2, Winner, Margin]
Index: []

In [18]:
cric.columns

Index(['Series/Tournament', 'Season', 'Unnamed: 2', 'Winner', 'Margin'], dtype='object')

In [19]:
cric.dropna()

Empty DataFrame
Columns: [Series/Tournament, Season, Unnamed: 2, Winner, Margin]
Index: []

In [20]:
cric

,Series/Tournament,Season,Unnamed: 2,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,NaN,Australia,1-0 (1)
1,Australia in England T20I Match,2005,NaN,England,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,NaN,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,NaN,Australia,1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,NaN,New Zealand,1-0 (1)
...,...,...,...,...,...
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,NaN,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,NaN,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,NaN,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,NaN,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,NaN,Pakistan,3-0 (3)

In [23]:
cric.drop(cric[cric.isnull()],axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[387 rows x 0 columns]

In [24]:
cric.drop(['Unnamed: 2'],axis = 1,inplace=True)  # Drop from columns

In [25]:
cric

,Series/Tournament,Season,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,Australia,1-0 (1)
1,Australia in England T20I Match,2005,England,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,Australia,1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,New Zealand,1-0 (1)
...,...,...,...,...
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,Pakistan,3-0 (3)

In [23]:
cric.drop([1,4],axis=0)   # drop from rows

,Series/Tournament,Season,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,Australia,1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,New Zealand,1-0 (1)
3,South Africa in Australia T20I Match,2005/06,Australia,1-0 (1)
5,Australia in South Africa T20I Match,2005/06,South Africa,1-0 (1)
6,Sri Lanka in England T20I Match,2006,Sri Lanka,1-0 (1)
...,...,...,...,...
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,U.S.A.,NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,Uganda,NaN
384,New Zealand in India T20I Series,2021/22,India,3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,Pakistan,3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,Pakistan,3-0 (3)

In [24]:
cric['Winner'].value_counts()

drawn           49
Pakistan        37
India           30
England         26
South Africa    25
New Zealand     24
Australia       22
West Indies     21
Sri Lanka       17
Afghanistan     15
Bangladesh       9
Namibia          7
U.A.E.           7
Ireland          6
Scotland         6
abandoned        4
Spain            4
Belgium          3
Romania          3
Qatar            3
Nepal            3
Uganda           3
Jersey           3
Netherlands      3
Hong Kong        3
shared           3
Zimbabwe         3
Malaysia         2
Austria          2
Singapore        2
Denmark          2
Malta            2
Kenya            2
Germany          2
P.N.G.           2
Oman             2
Isle of Man      1
Bahrain          1
Cyprus           1
Nigeria          1
Portugal         1
Ghana            1
Guernsey         1
Tanzania         1
Belize           1
Bdesh U-23s      1
Malawi           1
Czech Rep.       1
Bulgaria         1
Argentina        1
Vanuatu          1
Canada           1
Italy            1
Saudi Arabia     1
Sri Lanka A      1
none             1
U.S.A.           1
Name: Winner, dtype: int64

In [46]:
cric['Margin'].value_counts()

1-0 (1)    81
2-1 (3)    54
2-0 (2)    49
3-0 (3)    38
1-1 (2)    36
3-2 (5)     9
2-0 (3)     9
1-0 (2)     7
1-1 (3)     7
0-0 (1)     6
3-1 (4)     3
4-1 (5)     2
0-0 (2)     2
2-0 (4)     2
2-2 (4)     2
4-0 (4)     2
5-0 (5)     2
1-0 (4)     1
1-0 (5)     1
5-1 (7)     1
5-1 (6)     1
Name: Margin, dtype: int64

In [49]:
cric.columns

Index(['Series/Tournament', 'Season', 'Winner', 'Margin'], dtype='object')

In [27]:
cric.dtypes

Series/Tournament    object
Season               object
Winner               object
Margin               object
dtype: object

In [28]:
# cric['Winner'] = cric.Winner.str.cat(sep ='(won)')

In [29]:
# cric['Winner'].add_suffix(suffix = '(won)')

In [26]:
cric.style.hide_index()

C:\Users\jamee\AppData\Local\Temp\ipykernel_10360\227765334.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  cric.style.hide_index()

## Adding "(Won)" to Winner Column

In [50]:
a = '(won)'
cric['Winner'] += a

In [51]:
cric.columns

Index(['Series/Tournament', 'Season', 'Winner', 'Margin'], dtype='object')

In [69]:
cric.loc[0:9,"Season"]

0    2004/05
1       2005
2    2005/06
3    2005/06
4    2005/06
5    2005/06
6       2006
7       2006
8    2006/07
9    2006/07
Name: Season, dtype: object

In [70]:
cric

,Series/Tournament,Season,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,Australia(won),1-0 (1)
1,Australia in England T20I Match,2005,England(won),1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,New Zealand(won),1-0 (1)
3,South Africa in Australia T20I Match,2005/06,Australia(won),1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,New Zealand(won),1-0 (1)
...,...,...,...,...
382,ICC Men's T20 World Cup Americas Region Qualif...,2021/22,U.S.A.(won),NaN
383,ICC Men's T20 World Cup Africa Region Qualifie...,2021/22,Uganda(won),NaN
384,New Zealand in India T20I Series,2021/22,India(won),3-0 (3)
385,Pakistan in Bangladesh T20I Series,2021/22,Pakistan(won),3-0 (3)
386,West Indies in Pakistan T20I Series,2021/22,Pakistan(won),3-0 (3)

In [72]:
cric.iloc[2,0:3]

Series/Tournament    New Zealand in South Africa T20I Match
Season                                              2005/06
Winner                                     New Zealand(won)
Name: 2, dtype: object

In [73]:
cric.iloc[2:7,0:3]

                        Series/Tournament   Season             Winner
2  New Zealand in South Africa T20I Match  2005/06   New Zealand(won)
3    South Africa in Australia T20I Match  2005/06     Australia(won)
4   West Indies in New Zealand T20I Match  2005/06   New Zealand(won)
5    Australia in South Africa T20I Match  2005/06  South Africa(won)
6         Sri Lanka in England T20I Match     2006     Sri Lanka(won)

In [74]:
cric.loc[0:4,['Season','Winner']]

    Season            Winner
0  2004/05    Australia(won)
1     2005      England(won)
2  2005/06  New Zealand(won)
3  2005/06    Australia(won)
4  2005/06  New Zealand(won)

In [76]:
cric.loc[cric['Winner'] == 'Pakistan(won)',["Season",'Winner']]

      Season         Winner
7       2006  Pakistan(won)
22   2007/08  Pakistan(won)
36      2009  Pakistan(won)
37      2009  Pakistan(won)
39      2009  Pakistan(won)
42   2009/10  Pakistan(won)
58      2010  Pakistan(won)
71      2011  Pakistan(won)
77   2011/12  Pakistan(won)
78   2011/12  Pakistan(won)
94      2012  Pakistan(won)
106  2012/13  Pakistan(won)
116     2013  Pakistan(won)
118     2013  Pakistan(won)
127  2013/14  Pakistan(won)
146     2015  Pakistan(won)
153     2015  Pakistan(won)
157  2015/16  Pakistan(won)
187     2016  Pakistan(won)
189  2016/17  Pakistan(won)
198     2017  Pakistan(won)
205  2017/18  Pakistan(won)
209  2017/18  Pakistan(won)
213  2017/18  Pakistan(won)
219     2018  Pakistan(won)
222     2018  Pakistan(won)
227     2018  Pakistan(won)
235  2018/19  Pakistan(won)
236  2018/19  Pakistan(won)
299  2019/20  Pakistan(won)
326  2020/21  Pakistan(won)
331  2020/21  Pakistan(won)
338     2021  Pakistan(won)
340     2021  Pakistan(won)
352     2021  Pakistan(won)
385  2021/22  Pakistan(won)
386  2021/22  Pakistan(won)

In [77]:
cric.loc[cric['Winner'] == 'India(won)',"Season"]

9      2006/07
15     2007/08
16     2007/08
31     2008/09
57        2010
64     2010/11
67        2011
93        2012
120    2013/14
171    2015/16
177    2015/16
180    2015/16
183       2016
194    2016/17
204       2017
210    2017/18
211    2017/18
217    2017/18
218    2017/18
225       2018
226       2018
237    2018/19
269       2019
291    2019/20
296    2019/20
297    2019/20
300    2019/20
329    2020/21
335    2020/21
384    2021/22
Name: Season, dtype: object

In [83]:
cric.loc[(cric['Winner'] == 'Pakistan(won)') & (cric["Season"] == '2017/18'),["Season",'Series/Tournament','Winner','Margin']]

,Season,Series/Tournament,Winner,Margin
205,2017/18,Independence Cup (World-XI in Pakistan),Pakistan(won),2-1 (3)
209,2017/18,Pakistan v Sri Lanka T20I Series (in Pakistan/...,Pakistan(won),3-0 (3)
213,2017/18,Pakistan in New Zealand T20I Series,Pakistan(won),2-1 (3)

In [81]:
cric.columns

Index(['Series/Tournament', 'Season', 'Winner', 'Margin'], dtype='object')

In [82]:
cric.loc[~(cric['Winner'] == 'Pakistan(won)') & (cric["Season"] == '2017/18'),["Season",'Series/Tournament','Winner','Margin']]

,Season,Series/Tournament,Winner,Margin
207,2017/18,Australia in India T20I Series,drawn(won),1-1 (3)
208,2017/18,Bangladesh in South Africa T20I Series,South Africa(won),2-0 (2)
210,2017/18,New Zealand in India T20I Series,India(won),2-1 (3)
211,2017/18,Sri Lanka in India T20I Series,India(won),3-0 (3)
212,2017/18,West Indies in New Zealand T20I Series,New Zealand(won),2-0 (3)
214,2017/18,Afghanistan v Zimbabwe T20I Series (in United ...,Afghanistan(won),2-0 (2)
215,2017/18,Sri Lanka in Bangladesh T20I Series,Sri Lanka(won),2-0 (2)
216,2017/18,"Trans-Tasman Twenty20 Tri-Series (Australia, E...",Australia(won),NaN
217,2017/18,India in South Africa T20I Series,India(won),2-1 (3)
218,2017/18,"Nidahas Twenty20 Tri-Series (Bangladesh, India...",India(won),NaN

In [85]:
cric.loc[cric['Series/Tournament'] == 'Pakistan in England T20I Match' ,["Season",'Series/Tournament','Winner']]

    Season               Series/Tournament         Winner
7     2006  Pakistan in England T20I Match  Pakistan(won)
187   2016  Pakistan in England T20I Match  Pakistan(won)
255   2019  Pakistan in England T20I Match   England(won)

In [86]:
cric.loc[cric['Series/Tournament'] == 'New Zealand v Sri Lanka T20I Series (in United States of America)' ,["Season",'Series/Tournament']]

   Season                                  Series/Tournament
56   2010  New Zealand v Sri Lanka T20I Series (in United...

In [87]:
cric['Winner'].value_counts()

drawn(won)           49
Pakistan(won)        37
India(won)           30
England(won)         26
South Africa(won)    25
New Zealand(won)     24
Australia(won)       22
West Indies(won)     21
Sri Lanka(won)       17
Afghanistan(won)     15
Bangladesh(won)       9
Namibia(won)          7
U.A.E.(won)           7
Ireland(won)          6
Scotland(won)         6
abandoned(won)        4
Spain(won)            4
Belgium(won)          3
Romania(won)          3
Qatar(won)            3
Nepal(won)            3
Uganda(won)           3
Jersey(won)           3
Netherlands(won)      3
Hong Kong(won)        3
shared(won)           3
Zimbabwe(won)         3
Malaysia(won)         2
Austria(won)          2
Singapore(won)        2
Denmark(won)          2
Malta(won)            2
Kenya(won)            2
Germany(won)          2
P.N.G.(won)           2
Oman(won)             2
Isle of Man(won)      1
Bahrain(won)          1
Cyprus(won)           1
Nigeria(won)          1
Portugal(won)         1
Ghana(won)            1
Guernsey(won)         1
Tanzania(won)         1
Belize(won)           1
Bdesh U-23s(won)      1
Malawi(won)           1
Czech Rep.(won)       1
Bulgaria(won)         1
Argentina(won)        1
Vanuatu(won)          1
Canada(won)           1
Italy(won)            1
Saudi Arabia(won)     1
Sri Lanka A(won)      1
none(won)             1
U.S.A.(won)           1
Name: Winner, dtype: int64

## Droping Empty Rows

In [88]:
cric.dropna(axis=0,inplace=True)

In [89]:
cric.head(30)

,Series/Tournament,Season,Winner,Margin
0,Australia in New Zealand T20I Match,2004/05,Australia(won),1-0 (1)
1,Australia in England T20I Match,2005,England(won),1-0 (1)
2,New Zealand in South Africa T20I Match,2005/06,New Zealand(won),1-0 (1)
3,South Africa in Australia T20I Match,2005/06,Australia(won),1-0 (1)
4,West Indies in New Zealand T20I Match,2005/06,New Zealand(won),1-0 (1)
5,Australia in South Africa T20I Match,2005/06,South Africa(won),1-0 (1)
6,Sri Lanka in England T20I Match,2006,Sri Lanka(won),1-0 (1)
7,Pakistan in England T20I Match,2006,Pakistan(won),1-0 (1)
8,Zimbabwe in Bangladesh T20I Match,2006/07,Bangladesh(won),1-0 (1)
9,India in South Africa T20I Match,2006/07,India(won),1-0 (1)
10,Sri Lanka in New Zealand T20I Series,2006/07,drawn(won),1-1 (2)
11,England in Australia T20I Match,2006/07,Australia(won),1-0 (1)
12,Pakistan in South Africa T20I Match,2006/07,South Africa(won),1-0 (1)
13,West Indies in England T20I Series,2007,drawn(won),1-1 (2)
16,Australia in India T20I Match,2007/08,India(won),1-0 (1)
17,New Zealand in South Africa T20I Match,2007/08,South Africa(won),1-0 (1)
18,New Zealand in Australia T20I Match,2007/08,Australia(won),1-0 (1)
19,West Indies in South Africa T20I Series,2007/08,drawn(won),1-1 (2)
20,India in Australia T20I Match,2007/08,Australia(won),1-0 (1)
21,England in New Zealand T20I Series,2007/08,England(won),2-0 (2)
22,Bangladesh in Pakistan T20I Match,2007/08,Pakistan(won),1-0 (1)
23,New Zealand in England T20I Match,2008,England(won),1-0 (1)
24,Australia in West Indies T20I Match,2008,West Indies(won),1-0 (1)
26,South Africa in England T20I Match,2008,abandoned(won),0-0 (1)
28,Bangladesh in South Africa T20I Match,2008/09,South Africa(won),1-0 (1)
29,West Indies in New Zealand T20I Series,2008/09,drawn(won),1-1 (2)
30,South Africa in Australia T20I Series,2008/09,Australia(won),2-0 (2)
31,India in Sri Lanka T20I Match,2008/09,India(won),1-0 (1)
32,New Zealand in Australia T20I Match,2008/09,Australia(won),1-0 (1)
33,India in New Zealand T20I Series,2008/09,New Zealand(won),2-0 (2)

## Exporting Data to CSV

In [90]:
cric.to_csv('Cleaned Data.csv',index=False)