In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokemon.csv')

In [3]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Let's begin with the loc

In [14]:
# loc is labeled based selecting method

In [7]:
df.loc[4,'Name']

'Charmander'

In [8]:
df.loc[0:4]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
df.loc[0:4,['Name','Type 1']]

                    Name Type 1
0              Bulbasaur  Grass
1                Ivysaur  Grass
2               Venusaur  Grass
3  VenusaurMega Venusaur  Grass
4             Charmander   Fire

In [12]:
df.loc[0:4,'Name':'Speed']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,Charmander,Fire,NaN,309,39,52,43,60,50,65

# Now let's come to iloc

In [13]:
df.iloc[0:4,'Name':'Speed']

TypeError: cannot do positional indexing on Index with these indexers [Name] of type str

In [15]:
# iloc is completely index based selecting method

In [17]:
df.iloc[1:5,0:4]

   #                   Name Type 1  Type 2
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison
4  4             Charmander   Fire     NaN

In [22]:
df.iloc[[0,7]]   # this will only consider this as a row 0 and 7 and will print 0 to 7th column

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

In [21]:
df.iloc[:,[0,7]] # this is will now consider all rows due to : and will only bring 0 and 7th column

       #  Defense
0      1       49
1      2       63
2      3       83
3      3      123
4      4       43
..   ...      ...
795  719      150
796  719      110
797  720       60
798  720       60
799  721      120

[800 rows x 2 columns]